:root {
  --box-shadow: 2px 2px 32px 7px rgba(60, 135, 131, 0.4);
  --border: 2px solid transparent;
  --heading-font-family: "Playfair Display", sans-serif;
  --secondary-font-color: #5f6463;
}

body {
  background: radial-gradient(
    621px at 25.3% 13.8%,
    rgb(255, 255, 255) 0%,
    rgb(234, 236, 255) 90%
  );
}

h1 {
  font-weight: bold;
  font-family: var(--heading-font-family);
}

h2 {
  font-family: var(--heading-font-family);
}
p {
  font-weight: normal;
  font-family: "Inter", sans-serif;
  line-height: 2;
}

.hero img {
  box-shadow: var(--box-shadow);
  border-radius: 50%;
}

.hero {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 14px;
  margin: 100px auto;
  z-index: 1;
}

.social-links i {
  margin-right: 10px;
}

.projects {
  display: block;
  text-align: center;
}

.projects-header {
  font-weight: normal;
  font-size: 16px;
  padding: 80px 70px;
  background-color: white;
}

.description {
  color: var(--secondary-font-color);
}

.content h2 {
  font-size: 71px;
}

@media (max-width: 768px) {
  .content h2 {
    font-size: 24px;
  }
  h1 {
    font-size: 40px !important;
  }
}
/*about file styling */
hr {
  display: block;
  margin: 20px auto;
  border: 2px solid #50a6dc;
  width: 400px;
}
.main-header {
  text-align: center;
  margin: 50px 30px;
  font-size: 71px;
}

.my-info ul {
  list-style-type: none;
  line-height: 4;
  font-weight: bold;
}

.my-info img {
  box-shadow: var(--box-shadow);
}

.titles {
  color: var(--secondary-font-color);
}

.skills {
  width: 160px;
  height: 160px;
  position: absolute;
  background-color: #50a6dc;
}

.outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #50a6dc;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  stroke: blue;
  stroke-width: 20px;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: anim 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 157.5;
  }
}
