:root {
  --box-shadow: 2px 2px 32px 7px rgba(60, 135, 131, 0.4);
  --border: 2px solid transparent;
  --heading-font-family: "Playfair Display", sans-serif;
  --secondary-font-color: #5f6463;
}

body {
  background: radial-gradient(
    621px at 25.3% 13.8%,
    rgb(255, 255, 255) 0%,
    rgb(234, 236, 255) 90%
  );
}

h1 {
  font-weight: bold;
  font-family: var(--heading-font-family);
}

h2 {
  font-family: var(--heading-font-family);
}
p {
  font-weight: normal;
  font-family: "Inter", sans-serif;
  line-height: 2;
}

.hero img {
  box-shadow: var(--box-shadow);
  border-radius: 50%;
}

.hero {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 14px;
  margin: 100px auto;
  z-index: 1;
}

.social-links i {
  margin-right: 10px;
}

.projects {
  display: block;
  text-align: center;
}

.projects-header {
  font-weight: normal;
  font-size: 16px;
  padding: 80px 70px;
  background-color: white;
}

.description {
  color: var(--secondary-font-color);
}

.content h2 {
  font-size: 71px;
}

@media (max-width: 768px) {
  .content h2 {
    font-size: 24px;
  }
  h1 {
    font-size: 40px !important;
  }
}
/*about file styling */
hr {
  display: block;
  margin: 0 auto;
  border: 2px solid #50a6dc;
  width: 400px;
}
.main-header {
  text-align: center;
  margin: 50px 30px;
  font-size: 71px;
}

.my-info ul {
  list-style-type: none;
  line-height: 4;
  font-weight: bold;
}

.my-info img {
  box-shadow: var(--box-shadow);
}

.titles {
  color: var(--secondary-font-color);
}
