h1 {
  font-weight: bold;
  font-family: "Playfair Display", sans-serif;
}

p {
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

.container {
  border: 2px solid transparent;
  box-shadow: 2px 2px 32px 7px rgba(60, 135, 131, 0.4);
  border-radius: 14px;
  margin: 100px auto;
}
